<div class="container mt-5">

  <h2>{{evento.nome}}</h2>
  <img src="{{evento.urlImagem}}" class="d-block w-100">
  <p class="mt-3">{{evento.descricao}}</p>
  <p class="mt-3"><b>Data do evento: </b> {{evento.data}}</p>
  <div class="card">
    <div class="card-header">
      Palestrante
    </div>
    <div class="card-body">
      <p class="card-text">

        <p class="card-text">
          Nome: {{evento.palestrante.nome}} {{evento.palestrante.sobrenome}}
          <br> Email: {{evento.palestrante.email}}
          <br> Minicurriculo: {{evento.palestrante.minicurriculo}}
        </p>

    </div>
    </p>
  </div>
  <div class="card mt-4" id="ouvintes-evento">
    <div class="card-header">
      Ouvintes
    </div>
    <div class="card-body">
      <p class="card-text">
        {{#if ouvinte}}
          {{#each ouvinte}}
            <div class="card-body">
              <p class="card-text">
                <b>Nome:</b> {{this.nome}} {{this.sobrenome}}
              <br>  <b>Email:</b> {{this.email}}
              </p>
              <hr>
            </div>
          {{/each}}
        {{else}}
          <p>Nenhum ouvinte registrado.</p>
        {{/if}}
      </div>
      </p>
  </div>

  <form action="/eventos/inscrever/{{evento._id}}" method="post">
    <input type="submit" value="Se inscrever" class="btn btn-primary mt-3">
  </form>

  {{#if autorizacaoEvento}}
    <div class="botao">
       <a href="/atualizar/eventos/{{evento._id}}">
         <button class="btn btn-primary" id="editar">Editar informações</button></a>
    <form action="/deletar/eventos/{{evento._id}}" method="post">
      <input type="submit" value="Excluir evento" class="btn btn-danger mt-3" id="excluir" >
    </div>
    </form>
  {{/if}}
</div>
