<div class="container-sobre">

    {{#if evento}}
        {{#each evento}}
            <div class="card mb-3">
                <img src="..." class="card-img-top" alt="{{this.urlImagem}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.nome}}</h5>
                    <p class="card-text">{{this.descricao}}</p>
                    <a href="/eventos/{{this._id}}"><button class="btn btn-primary">Mais detalhes</button></a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h2>Nenhum evento cadastrado</h2>
    {{/if}}
</div>